{% extends 'base.html' %}

{% block title %} Edit Post {% endblock %}

{% block content %}
<h1>Edit Post</h1>

<form action="" method = "POST" >
    <label for="">Title : </label>
    <input type="text" name = "title" placeholder="{{post.title}}">
    <label for="">Post Content : </label>
    <input type="text"  name = "content" placeholder="{{post.content}}">
  
    <button type = "submit" formaction="/posts/{{post.id}}/edit">Save</button>
    <button type = "submit" formaction = "/posts/{{post.id}}" formmethod="GET">Cancel</button>
</form>

{% endblock %}
